body {
    padding: 40px;
    background-color: #4f4f4f !important;
    font-family: 'Nunito', sans-serif;
}

.container, .card-body, .card-header {
    background-color: #4f4f4f !important;

}

#bgnavbar {
    background-color: #4f4f4f !important;
    margin-bottom: 75px;

}

.header {
    color: #E85A4F;
    font-size: 50px !important;
}

.nav-item.nav-link {
    color: #d6d6d6 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 22px !important;
     
}

.p {
    font-family: 'Nunito', sans-serif;
    width: 600px;
    color: #d6d6d6;
    display: inline-block;
}


img#mainPhoto {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    float: left;
    margin-right: 20px;
    
}


.card.text-center {
    margin-bottom: 20px;
    background-color: #d6d6d6;
    color: #e85a4f;
}

.workimg {
    height: 500px;
    margin-bottom: 10px;
    width: 75%;
    height: auto;
  
}

.card-text {
width: 65%;
margin:auto;
color:#d6d6d6;
}

#dbutton {
    color: #d6d6d6 !important;
}

.link {
    font-size:20px;
    color:#e85a4f;
}   

div.form {
    border: 1px solid #d6d6d6;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    color: #d6d6d6;
    width: 65%;
    height: auto;
}

.subBtn, .contactinfo {
    text-align: center;
    color: #d6d6d6 !important;
}