body {
    padding: 40px;
    background-color: #4f4f4f !important;
    font-family: 'Nunito', sans-serif;
}

.container, .card-body, .card-header {
    background-color: #4f4f4f !important;

}
#bgnavbar {
    background-color: #4f4f4f !important;
    margin-bottom: 30px;
    width: auto !important;
}

.header {
    color: #E85A4F;
    font-size: 50px !important;
}

.nav-item.nav-link {
    color: #d6d6d6 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 22px !important;
     
}

.p {
    font-family: 'Nunito', sans-serif;
    width: 600px;
    color: #e85a4f;
}


img#mainPhoto {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    
}


.card.text-center {
    margin-bottom: 20px;
    background-color: #d6d6d6;
    color: #e85a4f;
}

.workimg {
    width: 700px;
    height: 500px;
    margin-bottom: 10px;
}

.card-text {
padding-left: 50px;
padding-right: 50px;
}