body {
    background-color: #EAE7DC;
    font-family: 'Nunito', sans-serif;
    padding: 40px;

}
#bgnavbar {
    color: #8E8D8A;
}

.header {
    color: #E85A4F;
}

.p {
    width: 600px;
    color: #8E8D8A;
}



img#mainPhoto {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    
}